{{yield}}
  <h1>{{@title}}</h1>

  <ul class="post-list">
  {{#each model as |post|}}
    <li>
      <button {{action (action "toggleModal")}}>{{post.title}}</button>
    </li>
      {{#if isShowingModal}}
        {{#modal-dialog
            onClose=(action "toggleModal")
            targetAttachment="center"
            translucentOverlay=true
            containerClassNames="modal-wrapper"
        }}
        <article>
          <h3>Post Details</h3>
            <p>
              {{post.body}}
            </p>
          <button onclick={{action "toggleModal"}}>Close</button>
        </article>
        {{/modal-dialog}}
      {{/if}}
  {{/each}}
  {{!-- {{page-numbers content=pagedContent}} --}}
  </ul>

