<main class="post-container">
  <h1>Posts</h1>

  <ul class="post-list">
  {{#each @model as |post|}}
    <li>
      <button {{action (action "toggleModal")}}>{{post.title}}</button>
      {{!-- <p>By: {{post.userId.name}}</p> --}}
    </li>
      {{#if isShowingModal}}
        {{#modal-dialog
            onClose=(action "toggleModal")
            targetAttachment="center"
            translucentOverlay=true
            containerClassNames="modal-wrapper"
        }}
        <article>
          <div>
          <h3>Post Details</h3>
            <p>
              {{post.body}}
            </p>
          </div>
          <div>
            <h3>User Details</h3>
              <ul class="user-detail-list">
                <li>
                 <p><span>Name:</span> {{post.userId.name}}</p>
                </li>
                <li>
                 <p><span>Email:</span> {{post.userId.email}}</p>
                </li>
                <li>
                 <p><span>Phone:</span> {{post.userId.phone}}</p>
                </li>
                <li>
                 <p><span>Website:</span> {{post.userId.website}}</p>
                </li>
              </ul>
          </div>
        </article>
          <button onclick={{action "toggleModal"}}>Close</button>
        {{/modal-dialog}}
      {{/if}}
  {{/each}}
  {{!-- {{page-numbers content=pagedContent}} --}}
  
  <ul class="pagination-ctrl">
    <li>
    <button {{action 'firstPage'}}>First Page</button>
    </li>
    <li>
    <button {{action 'previousPage'}}>Prev</button>
    </li>
  <li>
    {{page}}
  </li>
  <li>
    <button {{action 'nextPage'}}>Next</button>
  </li>
  <li>
    <button {{action 'lastPage'}}>Last Page</button>
  </li>
  </ul>

  </ul>
</main> 



{{outlet}}