<main class="post-container">
  <h1>Posts</h1>

  <ul class="post-list">
  {{#each @model as |post|}}
    <li>
      <button {{action (action "toggleModal")}}>{{post.title}}</button>
      <p>By: {{post.userId.name}}</p>
    </li>
      {{#if isShowingModal}}
        {{#modal-dialog
            onClose=(action "toggleModal")
            targetAttachment="center"
            translucentOverlay=true
            containerClassNames="modal-wrapper"
        }}
        <article>
          <h3>Post Details</h3>
            <p>
              {{post.body}}
            </p>
            <h3>User Details</h3>
            <p>Name: {{post.userId.name}}</p>
          <button onclick={{action "toggleModal"}}>Close</button>
        </article>
        {{/modal-dialog}}
      {{/if}}
  {{/each}}
  {{page-numbers content=pagedContent}}
  </ul>
</main> 



{{outlet}}